<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Tu Página Web</title>
</head>
<body>
    <header class="hero">
        <div class="container">
            <div class="hero-content">
                <div class="hero-text">
                    <h1>Descubre el Futuro con Programa Hacker Pro</h1>
                    <p>Formación ágil y personalizada para tu éxito en tecnología.</p>
                </div>
                <a href="/auth/google" class="cta-button">Iniciar Sesión</a>
            </div>
        </div>
    </header>

    <section class="features">
        <div class="container">
            <div class="features-column">
                <div class="feature">
                    <h2>Carreras Ágiles</h2>
                    <p>Desarrollo de habilidades en solo 6 meses.</p>
                </div>

                <div class="feature">
                    <h2>Coaching & Mentoring</h2>
                    <p>Acompañamiento personalizado en tu viaje educativo.</p>
                </div>

                <div class="feature">
                    <h2>Innovación Tecnológica</h2>
                    <p>Enseñanza alineada con las últimas tendencias del mercado.</p>
                </div>
            </div>
            
            <div class="vision-mission-column">
                <div class="vision-mission">
                    <div class="vision">
                        <h2>Visión</h2>
                        <p>Ser la vanguardia en la transformación educativa, empoderando a individuos de diversos orígenes para que exploren y desarrollen todo su potencial en el ámbito tecnológico, con un enfoque ágil y formativo que responda a las demandas cambiantes del mercado.</p>
                    </div>

                    <div class="mission">
                        <h2>Misión</h2>
                        <p>Brindamos carreras ágiles en tecnología, bajo un modelo educativo único, eliminando barreras tradicionales para la educación. Guiamos a nuestros estudiantes a descubrir y cultivar sus talentos naturales mediante coaching y mentoring, fomentando las 5C: Creencia, Creatividad, Comunicación, Colaboración y pensamiento Crítico. Nuestra misión es impulsar la inclusión, la innovación y el éxito en el mercado laboral.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="container">
            <div class="testimonial-box">
                <h2>Opiniones de nuestros estudiantes:</h2>
                <div class="testimonial">
                    <blockquote>
                        <p>"Programa Hacker Pro cambió mi vida. ¡Increíble experiencia de aprendizaje!"</p>
                    </blockquote>
                    <span class="testimonial-author">- Darío Fernandez</span>
                </div>

                <div class="testimonial">
                    <blockquote>
                        <p>"¡La mejor decisión que he tomado para mi carrera! Altamente recomendado."</p>
                    </blockquote>
                    <span class="testimonial-author">- Thaiss Álvarez</span>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© 2023 Programa Hacker Pro. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
