<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alumno</title>
    <link rel="stylesheet" href="../css/registro-alumno-style.css">
</head>
<body>
    <header>
        <div class="superior-izquierdo">
            <div>
                <img src="../imagenes/c1-Fisi.png" alt="Fisi">
            </div>
            <h2>Sistema de Gestión de Actividades</h2>
        </div>
        <div class="superior-derecha">
            <h2>Administrador</h2>
            <div>
                <img src="../imagenes/c1-Perfil1.png" alt="Perfil">
            </div>
        </div>
    </header>
</body>
</html>