<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Curso</title>
    <link rel="stylesheet" type="text/css" href="../css/registro-curso-style.css">
</head>
<body>
    <header>
        <div class="superior-izquierdo">
            <div>
                <img src="./imagenes/c1-Fisi.png" alt="Fisi">
            </div>
            <h2>Carreras Ágiles</h2>
        </div>
        <div class="superior-derecha">
            <h2>Bienvenido, <%= user.displayName %></h2>
            <div>
                <img src="<%= user.photo %>" alt="Foto de perfil">
            </div>
        </div>
    </header>
    <main>
        <h1>Registrar Nuevo Curso</h1>

  <form action="/registrar-curso" method="post">
    <label for="nombreCurso">Nombre del Curso:</label>
    <input type="text" id="nombreCurso" name="nombreCurso" required>

    <label for="dia">Día:</label>
    <input type="text" id="dia" name="dia" required>

    <label for="hora">Hora:</label>
    <input type="text" id="hora" name="hora" required>

    <label for="docente">Docente:</label>
    <select id="docente" name="docente" required>
    <% usuarios.forEach(function(usuario) { %>
        <option value="<%= usuario._id %>"><%= usuario.lastName %></option>
    <% }); %>
    </select>

    <label for="vacantes">Vacantes:</label>
    <input type="text" id="vacantes" name="vacantes" required>

    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio" required>

    <button type="submit">Registrar Curso</button>
  </form>
    </main>
</body>
</html>