<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRAR</title>
</head>
<body>
    <!-- autenticación google -->
    <div class="container my-5" >
      <div class="card social-block">
        <div class="card-body" style="text-align: center !important; background-color:#FF0000 !important;">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button" style="color: white;">
            <i class="bi bi-google" style="margin-right: 4px;"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>
</body>
</html>