*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}

header{
    width: 100vw;
    height: 15vh;
    background-color: aquamarine;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.superior-izquierdo{
    color: red;
    display: flex;
    align-items: center;
}

.superior-izquierdo img{
    margin-left: 20px;
}

.superior-izquierdo h2{
    margin-left: 20px;
}

.superior-derecha{
    color: black;
    display: flex;
    align-items: center;
}

.superior-derecha img{
    margin-right: 20px;
}

.superior-derecha h2{
    margin-right: 20px;
}

header img{
    width: 60%;
    height: 60%;
}
/* ------------------------------- */
main{
    width: 100vw;
    height: 85vh;
}

article{
    width: 90vw;
    height: 75vh;
    margin-left: 5%;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.parte1 {
    width: 90vw;
    height: 10vh;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte2 {
    width: 90vw;
    height: 65vh;
}

form{
    width: 90vw;
    height: 65vh;
}

.textos {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.campos{
    width: 40%;
    padding: 20px 0 0 100px;
    font-size: 20px;
}

.campos input{
    width: 200px;
    height: 22px;
    border: thin solid black;
    border-radius: 5px;
}

.enviar-salir{
    height: 25%;
    display: flex;
    justify-content: space-evenly;
}

.botones img {
    width: 35px;
    height: 35px;
    padding: 5px 0 0 5px;
}

.botones {
    background-color: lightblue;
    width: 120px;
    height: 50px;
    border: thin solid black;
    box-shadow: 5px 5px teal;
    
}

.empujar {
    width: 60px;
    font-size: 14px;
    margin-left: 10px;
}

.empujar:hover{
    background-color: red;
    transition: 100px;
}